* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(#040228 0%, #0075c7 40%);
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    font-size: 2em;
    color: #fff;
    cursor: default;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    padding: 6px 15px;
    border-radius: 20px;
}

.nav a:hover,
.nav a.active{
    background-color: #00a3b9;
}

/* section */

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    padding: 100px;
    background: #040228;
}

.sec h2{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}